.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #000000;
}

.cart-cards-container {
    display: flex;
    flex-direction: column;
    width: 70%;
        gap: 20px;
        flex: 2;
        padding: 20px 20px 20px 40px;
        background: #000000;
}

.cart-summary {
    width: 25%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
        flex: 1;
        height: 500px;
        background: #191919;
        color: #ffffff;
}

.cart-summary h2 {
    text-align: center;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
   
        margin-bottom: 10px;
}

.cart-label {
    font-weight: bold;
    
}

.cart-value {
    font-size: 1.1em;
    margin-bottom: 25px;
}

.grand-total {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.d-grid {
    display: grid;
}

.gap-2 {
    gap: 2rem;
}

.mt-5 {
    margin-top: 2rem;
}

.btn {
    
    
  
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #12DAA8;
        color: #ffffff;
        outline: none;
        border: none;
        border-radius: 5px;
}

.btn:hover {
    
    background-color: #CFFFF3;
        color: black;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    background: #000000;
}






.cart-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 500px;
    background: #191919;
    color: #ffffff;
}

.cart-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.cart-item-details {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    width: 100%;
}

.cart-item-title {
    font-weight: medium;
    font-size: 25px;
}

.cart-item-price {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.cart-item-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.btn-container {
    display: flex;
    align-items: center;
}



.cart-body {
    margin-top: 20px;
}







/* .summary-card{
padding-right: 200px;


margin-top: 100px;
} */
.cart-item-description {
    font-weight: normal;
    font-size: 16px;
}

.cart {
    margin-bottom: 40px;
}

